body{
    background-image: url(../Bootstrap-Portfolio/images/memphis-mini.png);
    height: 900px;

}


.media{
    margin-top:70px;
}

.navbar-brand {
    float: right;
}

.indexContain{
    margin-top: 20px;
    background-color: white;
    height: 470px;
    border: 2px solid teal;
    
}

.aboutMeBanner{
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #cccccc;
}

#bannerContent{
    position: relative;
    top:20px;
    color: teal;
}

.navbar-teal{
    background-color: teal;
}

.navbar-bottom{
    position: relative;
    left: 550px;
}


.img-fluid{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
}

#lorem{
    margin-top: 15px;
    line-height: 28px;
    font-family: 'Roboto Mono', monospace;
}

.aboutMeBackGround{
    background-color: white;
    padding-top:20px;
}

.aboutMe{
    margin-top: 30px;
    border: 2px solid teal;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:3px 3px 5px 6px #ccc;
}

/* porfolio css ------------------------------------- */
#portfolioBod{
    height: 1000px;
    
}
.portfolio{
    border: 2px solid teal;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:3px 3px 5px 6px #ccc;
    margin-top: 30px;
}

.portfolioBanner{
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #cccccc;
}
.portfolioBackGround{
    background-color: white;
    padding-top:20px;
}

.img1{
    margin-right: 20px;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.md-20{
    margin-top: 20px;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}


/* contact css ------------------------------------- */

.contactBanner{
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #cccccc;
}

.contactBackGround{
    background-color: white;
    padding: 10px;
}

.contact{
    border: 2px solid teal;
    margin-top: 30px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}